*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #1E2D3B;
	font-family: 'Lato', sans-serif;
}

/* header */

header {
	width: 100%;
	height: 45px;
	background: rgb(46, 58, 70);
}

header img {
	width: 30px;
	height: 30px;
	margin: 7.5px;
	margin-left: 200px;
}


/* main */

.filtro {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

label {
	color: white;
	margin-right:10px;
}

.box{
	background: #1E2D3B;
	margin: 0 auto;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}

.container{
	width: calc((100% / 4) - 4%);
	height: 250px;
	margin: 2%;
	padding: 5px;
	text-align: center;
	background: rgb(46, 58, 70);
}

.album{
	/* height: 50%; */
	width: 100%;
}

.album img{
	height: auto;
	width: 80%;
	padding-top: 10px;
}

.titolo{
	height: 50%;
	padding-top: 8px;

}

h3{
	font-size: 15px;
	color: white;
	padding-bottom: 10px;
	text-transform: uppercase;

}

.titolo p{
	color: gray;
	padding-bottom: 5px;
}
